


.banner1 .p1{
    font-family:'Montserrat';
    font-size: 70px;
    font-weight: bold;
  }
  .banner1 .p2{
    font-family:'Montserrat';
    font-size: 35px;
    line-height: 45px;
    font-weight: bold;
  }

  .banner1 .p3{
    font-family:'Montserrat';
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
  }

.banner2 .p1{
    font-family:'Montserrat';
    font-size: 60px;
    font-weight: bold;
    margin-left: -150px;
  }
  .banner2 .p3{
    font-family:'Montserrat';
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    margin-left: -150px;
  }




  .aboutco .p1{
    font-family:'Montserrat';
    font-size: 50px;
    font-weight: bold;
  }
  .aboutco .p2{
    font-family:'Montserrat';
    font-size: 28px;
    font-weight: bold;
  }

.logo-image{
  height: 170px;
}

  @media (max-width: 576px) {

.logo-image{
  height: 117px;
}  
  
.aboutco img{
    margin: 15px !important;
    padding: 0px !important;
    justify-content: center
}
.aboutco .mt-5{
    margin: 0px !important;
    padding: 0px !important;
    justify-content: center
}

.aboutco .p1{
    margin-top: 10px;
    font-family:'Montserrat';
    font-size: 30px;
    font-weight: bold;
}
.aboutco .p2{
    margin-top: 10px;
    margin-left: 25px;
    font-family:'Montserrat';
    font-size: 15px;
    font-weight: bold;
    justify-content: center
}
.aboutco .p-5{
    margin: 0px !important;
    padding: 0px !important;
    justify-content: center
}

.banner1 .p1{
   
  font-size: 25px;
  text-align: center;
  padding-top: 50px !important;
   margin-left: -10px !important;
  }
  .banner1 .p2{
   text-align: center;
    font-size: 15px;
    line-height: 25px;
    margin-left: -10px !important;
   
  }

.banner2 .p1{
    font-family:'Montserrat';
    font-size: 35px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin-left: 0px !important;
    color:black !important;
    
  }
  .banner2 .p2{
    font-family:'Montserrat';
    font-size: 15px;
    line-height: 45px;
    font-weight: bold;
   
  }

  .banner2 .p3{
    font-family:'Montserrat';
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    margin-left: 0px !important;
    padding: 15px;
    color:black !important;
    
  }

  }