
.image{
  
    opacity: 1;
}

 .work-item{

    margin-left: 20px;
 }


@media (max-width: 576px) {

    .bannersm{
        position: relative;
        top: 620px;
        left: 0px;
        padding: 0px !important;
    }

    .image{
     
        height: 1350px !important;
    }

    .bannersm .col {
      justify-content: center;
      align-items: center;
      display: flex;
    }
    .bannersm .card{
      margin-left: 5px;
      margin-bottom: 30px;
      width: 600px !important;
    }

    .bannersm .h1{
     
        text-align: center;
        padding-left: 10px !important;
        margin-left: 0px !important;
    }
    .bannersm .h3{
     
        text-align: center;
    }
  
  .image{
  
    padding-left: 0px !important;
   
}

 .work-item{

    margin-left: 25px;
 }

 .work-item .card{

    padding-left: 20px;
 }

  } 