.image{
    opacity:1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Black with 50% transparency */
    z-index: 1; /* Place it above the image */
  }

.from-header {
    position: relative;
    top: -660px;
}

.form-map {
    position: relative;
    top: -580px;
}


.contactus {
    padding: 0px !important;
    position: relative;
    height: 868px !important;

}

.contactus p {
    margin-top: 0px !important;
    padding-top: 0px !important;
    font-family: 'Montserrat';
    font-size: 35px !important;
    line-height: 45px !important;
    font-weight: bold;
}

@media (max-width: 576px) {
    .image{
       position: relative;
       top: -600px;
    }
    .from-header {
        position: relative;
        top: -1390px;
    }   

    .form-map {
        position: relative;
        top: -1290px;
    }

    .contactus {
        padding: 0px !important;
        position: relative;
        top: 0px;
        height: 1130px !important;
      
    }

    .contactus p {
        margin-top: 0px !important;
        padding-top: 0px !important;
        font-family: 'Montserrat';
        font-size: 15px !important;
        line-height: 20px !important;
        font-weight: bold;
    }

    .contactus .pt-5 {
        padding-top: 0px !important;

    }


    .form-div .pt-5 {
        position: relative;
        top: 500px;
        margin-top: 0px !important;
        padding-top: 0px !important;

    }

    .form-div .text-white {

        color: black !important;
    }

    .from-header .text-white {

        color: black !important;
    }

    .map-div {
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 50px !important;
        margin-left: -5px !important;
        padding-right: 0px !important;


    }

.contactus {

    height:1050px !important;
    margin-left: 7px !important;

}


}