.image{
    opacity:1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Black with 50% transparency */
    z-index: 1; /* Place it above the image */
}


.from-header {
    position: relative;
    top: -660px;
}

    .from-header p {
    position: relative;
    top: -120px;
}

.form-div {

        padding: 20px !important;

    }

.form-map {
    position: relative;
    top: -580px;
}


.contactus {
    padding: 0px !important;
    position: relative;
    height: 868px !important;

}

.contactus p {
    margin-top: 0px !important;
    padding-top: 0px !important;
    font-family: 'Montserrat';
    font-size: 35px !important;
    line-height: 45px !important;
    font-weight: bold;
}

@media (max-width: 576px) {
    .image{
    position: relative;
    top: -600px;
    }
    .from-header {
        position: relative;
        top: -1390px;
    }   

    .from-header p {
    position: relative;
    top: 60px;
}

    .form-map {
        position: relative;
        top: -1290px;
    }

    .contactus {
        padding: 0px !important;
        position: relative;
        top: 0px;
        height: 1130px !important;
    
    }

    .contactus p {
        margin-top: 0px !important;
        padding-top: 0px !important;
        font-family: 'Montserrat';
        font-size: 15px !important;
        line-height: 20px !important;
        font-weight: bold;
    }

    .contactus .pt-5 {
        padding-top: 0px !important;

    }


    .form-div {
    
        margin: 0px !important;
        padding: 20px !important;

    }
    .form-div .pt-5 {
        position: relative;
        top: 500px;
        margin-top: 0px !important;
        padding-top: 0px !important;

    }

    .form-div .text-white {

        color: black !important;
    }

    .from-header .text-white {

        color: black !important;
    }

    .map-div {
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 20px !important;
        margin-left: -75px !important;
        padding-right: 0px !important;

    }

.contactus {
    height:1065px !important;
    margin-left: 0px !important;
    margin-top: 25px !important;
}

.form-map {
padding: 5px 15px 0px 15px !important;
margin-bottom: 0px !important;

}

.map{
    padding: 0px 15px 0px 15px !important;
    margin-bottom: 10px !important;
    
}

}