.footer{
position: relative;

    z-index: 100;

}


@media (max-width: 576px) {

.footer{
  padding-left: 25px;
}

.logo-dev{

  margin-left: -20px;
}

.link-list{

  margin-top: 0px !important;
}

  }