


.banner .img {
    width: 100%;
    height: auto;
    /* Maintain aspect ratio */
    object-fit: cover;
    /* Optional: Ensures the image covers the section fully */
}

.banner p {
    position: absolute;
    top: 210px;
    left: 60px;
    font-family: 'Montserrat';
    font-size: 45px;
    line-height: 65px;
    font-weight: bold;
    color: white;
}

.services img {
    width: 100%;
    height: auto;
    /* Maintain aspect ratio */
    object-fit: cover;
    /* Optional: Ensures the image covers the section fully */
}

.services h2 {
    text-align: left;

}

.titlerow {
    margin: 0px 25px 0px 20px !important;
}

.titlerow h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titlerow h2 span {
    margin-left: auto;
    /* Ensures the span is pushed to the right */
}

/* Services at main page ended */

/* Small banar started */

.baneerSm {
    height: 390px;
    margin: 0px 0px 0px 0px !important;

    padding: 0px 0px 0px 0px !important;
}

.baneerSm .h1 {
    position: relative;
    top: -400px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: white;
}

.baneerSm .h3 {
    position: relative;
    top: -400px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: white;
}

.baneerSm .row .col-md-2 {
    position: relative;
    top: -400px;
    height: 200px;

}

.card-bg {
    background-color: #CD702B;
    position: relative;
    top: -380px;
    height: 200px !important;
}

.card {

    height: 200px !important;
    background-color: #CD702B !important;
}

.ourwork img {
    width: 100%;
    height: auto;
    /* Maintain aspect ratio */
    object-fit: cover;
    /* Optional: Ensures the image covers the section fully */
}

/* our work endes */

/* Contact form  at main start */


.from-header {
    position: relative;
    /* top: -500px; */
}

.from-header p {
    font-size: 30px;
    line-height: 35px;
    font-family: 'Montserrat';

}

.form-div {
    position: relative;
    /* top: -540px; */

}

.form-div h1 {
    font-size: 30px;
    line-height: 35px;
    font-family: 'Montserrat';

}

.form-div h6 {
    font-size: 15px;
    line-height: 25px;
    font-family: 'Montserrat';

}

.map-div {
    position: relative;
    /* top: -540px; */

}
