



.project-container{
    padding: 80px;
}


  @media (max-width: 576px) {


.project-container{
    padding: 5px;
}
.project-container h1{
  margin-top: 15px;
    margin-left: 28px !important;
}

.project-items{
    
  margin: 0px !important;
  }

}