@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* .container{
  margin: 0px !important;
  padding: 0px 0px 0px 0px   !important;
  max-width:  1280px !important;
} */


.full-container{
  margin: 0px !important;
  padding: 0px 0px 0px 0px !important;
  max-width: 1980x !important; /* Adjust this value based on the desired max width */
  padding-right: 15px; /* Match Bootstrap container padding */
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row{
  margin: 0px 0px 0px 0px !important;

  padding: 0px 0px 0px 0px !important;

}

.briks {
  height: 80px;
  display: flex;
  justify-content: flex-end;
}

.briks .img {
  height: 80px;
  position: relative;
  right: 20px;
}

.navitems {
  height: 80px;
  justify-content: center;
  /* Horizontal centering (optional) */
  align-items: center;
  /* Vertical centering */
}

.contact {
  height: 80px;
}


@media (max-width: 576px) {
  .nav-link{
    color: rgb(37, 177, 170) !important;
    background-color: rgba(236, 197, 197, 0.288) !important;
  }

  .briks{
    justify-content: center;
  }

  .contact {
  display: none;
  }

  .bannersm .pt-4{
height: 2500px;
  }

  .bannersm .col {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .bannersm .card{
    margin-left: 5px;
    margin-bottom: 30px;
    width: 600px !important;
  }
}